<div class="container">
  <div class="row">
<div>
  <img src="Images/homepic.jpeg" alt="">
</div>
  </div>
  <div class="row slider-topseller">
    <div id="essentialSkillsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-2">
              <div class="card">
                <img src="/Images/C++programming.png" class="card-img-top" alt="Course Image 1" />
                <div class="card-body">
                  <h5 class="card-title">Crafting a Smart Business Plan</h5>
                  <p class="card-text">Khaled El Hammady</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 2" />
                <div class="card-body">
                  <h5 class="card-title">Learn Data Storytelling</h5>
                  <p class="card-text">Mohamed Elrouby</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/Paythone.jpg" class="card-img-top" alt="Course Image 3" />
                <div class="card-body">
                  <h5 class="card-title">Pitching Your Business Idea</h5>
                  <p class="card-text">Yasmine Nagaty</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/html.png" class="card-img-top" alt="Course Image 4" />
                <div class="card-body">
                  <h5 class="card-title">Growth Strategies in Business</h5>
                  <p class="card-text">Medhat Yassin</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 5" />
                <div class="card-body">
                  <h5 class="card-title">Personal Branding for Employees</h5>
                  <p class="card-text">Yasmine Yehia</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 6" />
                <div class="card-body">
                  <h5 class="card-title">Another Course Title</h5>
                  <p class="card-text">Instructor Name</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 6" />
                <div class="card-body">
                  <h5 class="card-title">Another Course Title</h5>
                  <p class="card-text">Instructor Name</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 6" />
                <div class="card-body">
                  <h5 class="card-title">Another Course Title</h5>
                  <p class="card-text">Instructor Name</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 6" />
                <div class="card-body">
                  <h5 class="card-title">Another Course Title</h5>
                  <p class="card-text">Instructor Name</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="Images/How-to-Learn-Python.jpg" class="card-img-top" alt="Course Image 6" />
                <div class="card-body">
                  <h5 class="card-title">Another Course Title</h5>
                  <p class="card-text">Instructor Name</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#essentialSkillsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#essentialSkillsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
