<div class="container">
<!-- <div class="img-container">
<img src="/Images/Logo/home.jpeg" width="100%" height="600px" alt="">
</div> -->
<div class="row">
  <div id="essentialSkillsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img src="your-image1.jpg" class="card-img-top" alt="Course Image 1" />
              <div class="card-body">
                <h5 class="card-title">Crafting a Smart Business Plan</h5>
                <p class="card-text">Khaled El Hammady</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="your-image2.jpg" class="card-img-top" alt="Course Image 2" />
              <div class="card-body">
                <h5 class="card-title">Learn Data Storytelling</h5>
                <p class="card-text">Mohamed Elrouby</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="your-image3.jpg" class="card-img-top" alt="Course Image 3" />
              <div class="card-body">
                <h5 class="card-title">Pitching Your Business Idea</h5>
                <p class="card-text">Yasmine Nagaty</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="your-image4.jpg" class="card-img-top" alt="Course Image 4" />
              <div class="card-body">
                <h5 class="card-title">Growth Strategies in Business</h5>
                <p class="card-text">Medhat Yassin</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img src="your-image5.jpg" class="card-img-top" alt="Course Image 5" />
              <div class="card-body">
                <h5 class="card-title">Personal Branding for Employees</h5>
                <p class="card-text">Yasmine Yehia</p>
              </div>
            </div>
          </div>
          <!-- Add more cards here for additional slides -->
        </div>
      </div>
    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#essentialSkillsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#essentialSkillsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


</div>
