<div class="container-fluid w-100 py-5" id="cont">

<div id="accordion  " >

  <!-----collapse[card]-->

  <div class="card w-50  mx-auto " data-bs-theme="dark" >
    <div class="card-header ">
      <a class="btn border-0" data-bs-toggle="collapse" href="#collapseOne">







        Pay with credit/debit card
      </a>
    </div>
    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
      <div class="card-body d-grid gap-2 col-12 mx-auto pt-4">
        <b>Pay with credit or debit card


        </b>
        <button class="btn btn-danger "> pay 2,399 EGP</button>


      </div>
    </div>
  </div>


  <!-----collapse[fawry]-->

  <div class="card w-50 mx-auto mt-4" data-bs-theme="dark" >
    <div class="card-header">
      <a class="collapsed btn border-0" data-bs-toggle="collapse" href="#collapseTwo">




        Pay with Fawry
      </a>
    </div>
    <div id="collapseTwo" class="collapse " data-bs-parent="#accordion">
      <div class="card-body p-2  d-grid gap-2 col-12 mx-auto pt-4">
        <p>Through Fawry, you can pay through any Fawry outline with cash. Please pay within the specified time mentioned in the receipt to avoid automatic cancellation.
          Mobile Number</p>


<!------------------fawry input/button------------------>
          <label for="usr">Mobile Number </label>
          <input type="tel" class="form-control" id="usr" name="phone"  placeholder="123-45-678"
           pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>

           <button class="btn btn-danger ">proceed</button>

      </div>
    </div>
  </div>


<!-----collapse[vodafone]------------------------>
  <div class="card w-50  mx-auto mt-4  " data-bs-theme="dark" >
    <div class="card-header">
      <a class="collapsed btn border-0" data-bs-toggle="collapse" href="#collapseThree">









        Pay with Cash
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
      <div class="card-body d-grid col-12 mx-auto gap-2 pt-4">
        <!--------------------------input/btn------------------>

        <label for="usr">Mobile Number </label>
        <input type="tel" class="form-control" id="usr" name="phone"  placeholder="123-45-678"
         pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>

         <button class="btn btn-danger ">proceed</button>
      </div>
    </div>
  </div>
</div>
</div>

