/* جعل خلفية الصفحة سوداء */
.login-container {
  background: black;
  height: 900px;
  width: 100%;
  /* max-width: 1200px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.d-form {
  /* border: 1PX solid ; */
  display: flex;

  width: 900px;
  height: 500px;
}
/* توسيع النموذج ليكون أكبر */
form {
  border: 1px solid white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 8px;
  width: 900px;
  height: 400px;
}
.form-group {
  width: 100%;
  justify-content: center;
}

/* تكبير حجم الحقول */
input {
  background: black;
  color: black;
  padding: 15px; /* تكبير الحقول */
  border-radius: 4px;
  font-size: 1.1rem; /* تكبير حجم الخط */
}
input:focus {
  background: rgb(192, 192, 192);
  color: black;
  padding: 15px; /* تكبير الحقول */
  border-radius: 4px;
  font-size: 1.1rem; /* تكبير حجم الخط */
}
/* تغيير لون العناوين إلى البرتقالي */
label {
  color: rgb(224, 224, 224); /* لون برتقالي */
  font-size: 1.2rem; /* تكبير الخط */
}

/* تصميم الأزرار لتكون عريضة مع استجابة أفضل */
button {
  background: rgb(255, 111, 0);
  border-radius: 4px;
  padding: 10px;
  font-size: 1.2rem; /* تكبير النص في الزر */
}

button:hover {
  background: rgb(255, 111, 0);
  border-radius: 4px;
  padding: 10px;
  font-size: 1.2rem; /* تكبير النص في الزر */
}
/* تحسين التصميم على الشاشات الصغيرة */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  form {
    padding: 20px;
    width: 100%; /* توسيع النموذج */
  }

  label {
    font-size: 1rem; /* تصغير حجم العنوان قليلاً على الشاشات الصغيرة */
  }

  input {
    font-size: 1rem;
  }

  button {
    font-size: 1.1rem;
  }
}
